openapi: 3.1.0
info:
  title: Unbounce REST Accounts Users API
  version: 0.4.0
  summary: Programmatic access to Unbounce accounts, pages, leads, and domains.
  description: 'The Unbounce REST API provides programmatic access to accounts,

    sub-accounts, domains, pages, page groups, and leads. Authentication

    uses an API key (available to all Unbounce pricing plans) or OAuth 2.0

    Authorization Code flow (granted case-by-case). Clients send a custom

    Accept header indicating the API version.


    Endpoint surface and authentication confirmed against

    https://developer.unbounce.com/api_reference/.

    '
  contact:
    name: Unbounce Developers
    url: https://developer.unbounce.com/
  license:
    name: Proprietary
    url: https://unbounce.com/legal
servers:
- url: https://api.unbounce.com
  description: Unbounce REST API
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: Users
  description: Users in the account
paths:
  /users:
    get:
      tags:
      - Users
      summary: List users
      operationId: listUsers
      responses:
        '200':
          description: User collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the Unbounce API key as the username.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code (granted case-by-case by Unbounce).
      flows:
        authorizationCode:
          authorizationUrl: https://api.unbounce.com/oauth/authorize
          tokenUrl: https://api.unbounce.com/oauth/token
          scopes:
            read: Read access to account resources
            write: Write access to account resources
