openapi: 3.1.0
info:
  title: Unbounce REST Accounts PageGroups API
  version: 0.4.0
  summary: Programmatic access to Unbounce accounts, pages, leads, and domains.
  description: 'The Unbounce REST API provides programmatic access to accounts,

    sub-accounts, domains, pages, page groups, and leads. Authentication

    uses an API key (available to all Unbounce pricing plans) or OAuth 2.0

    Authorization Code flow (granted case-by-case). Clients send a custom

    Accept header indicating the API version.


    Endpoint surface and authentication confirmed against

    https://developer.unbounce.com/api_reference/.

    '
  contact:
    name: Unbounce Developers
    url: https://developer.unbounce.com/
  license:
    name: Proprietary
    url: https://unbounce.com/legal
servers:
- url: https://api.unbounce.com
  description: Unbounce REST API
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: PageGroups
  description: Logical page groupings
paths:
  /sub_accounts/{sub_account_id}/page_groups:
    get:
      tags:
      - PageGroups
      summary: List page groups for a sub-account
      operationId: listPageGroupsForSubAccount
      parameters:
      - $ref: '#/components/parameters/SubAccountId'
      responses:
        '200':
          description: Page group collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/PageGroup'
  /page_groups/{page_group_id}/pages:
    get:
      tags:
      - PageGroups
      summary: List pages in a page group
      operationId: listPagesForPageGroup
      parameters:
      - name: page_group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Page collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCollection'
components:
  parameters:
    SubAccountId:
      name: sub_account_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    PageCollection:
      type: object
      properties:
        pages:
          type: array
          items:
            $ref: '#/components/schemas/Page'
    Page:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sub_account_id:
          type: string
        domain_id:
          type: string
        url:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
    PageGroup:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth using the Unbounce API key as the username.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code (granted case-by-case by Unbounce).
      flows:
        authorizationCode:
          authorizationUrl: https://api.unbounce.com/oauth/authorize
          tokenUrl: https://api.unbounce.com/oauth/token
          scopes:
            read: Read access to account resources
            write: Write access to account resources
